<div class="row">
  <div class="col-md-12">
    <h4>Started business in 1984 as G&D Landscaping </h4>
    <p>1985 Modified first farm drill</p>
    <p>1985-1988 Built two hydro seeders</p>   
    <p>1988 Received commercial pesticide license</p>
    <p>1990 Built second range drill </p>
    <p>1990 BS Ag Economics University of Wyoming </p>
    <p>2000 Started GPS mapping </p>   
    <p>2002 Purchased first commercial range drill </p>
    <p>2003 Changed name to Hindsite </p>
    <p>2009 Incorporated to Hindsite Inc. </p>
    <p>2009 Started youth programs </p>   
    <p>2010 Started growing and collection of seed </p>
    <p>2012 Put in greenhouse </p>
    <p>2015 FM-750 GPS </p>
    <p>2016 Launched website</p>
  </div>
</div>
