nav {
  background-color: #000;
  height: 100px;
  padding: 25px;

}

a {
  font-size: 20px;
  text-align: center;
}

ul {
  font-family: 'Varela Round', sans-serif;
  font: bold;
  color: #ffff;
}
.navbar-brand {
    color: #1BB4E8;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
  
  }

/* li{
    font-family: 'Varela Round', sans-serif;
    font: bold;
    color: pink;
} */
/* .navbar-nav {
    font-family: 'Varela Round', sans-serif;
    font: bold;
    color: #ffff;
} */
img {
    position: relative;
    animation: mymove 30s infinite;
    height: 70px;
    animation-timing-function: linear;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 475%;}
  }
  



