nav {
  background-color: #000;
  height: 100px;
  padding: 25px;
  text-align: center;

}
div{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}

.navbar-brand {
    color: #1BB4E8;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
  }
img {
    position: relative;
    animation: mymove 30s infinite;
    height: 70px;
    animation-timing-function: linear;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 475%;}
  }
  



