<div class="row">
  <div class="col-md-12">
    <p>For access to empolyee information please log on. The calendar below shows you when your time card is due.</p>
  </div>
  <div class="col-md-6 pull-left">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>

    <div>
      <label for="pass">Password:</label>
      <input type="password" id="pass" name="password" minlength="8" required>
    </div>
    <div class="signInBtn">
      <input type="submit" value="Sign in">
    </div>
  </div>
  <!-- <div class="col-md-6 pull-right imagesY">
    <img src="../../assets/yep/CrewsPickingCheat.png" alt="Crews Picking Cheat Grass">
  </div> -->
</div>