<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/about/Glade.png" alt="Glade">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/about/GladeStartingOut.png" alt="Glade Starting Out">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/about/gladeWithDrill.png" alt="Glade with Drill">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/about/gladeWorking.png" alt="Glade Working">
  </div>
</div>