<div class="row">
  <div class="col-md-12">
    <!-- <h2> {{gpsInfo.client.companyName}} </h2> -->
    <div class="col-md-5 LocationSearch">
      <h4>
        Location Search:
        <input type="text" #searchBox (keyup)="onKeyPress(searchBox.value)" class="form-Control"
               placeholder="Enter a search value">
      </h4>
    </div>
    <!--<div class="col-md-5 DateSearch">
      <h4>
        Date Search:
        <input type="text" #searchBox (keyup)="onKeyPress(searchBox.value)" class="form-Control"
               placeholder="Enter a search value">
      </h4>
    </div>-->
    <div class="tableStuff">
      <table>
        <tr>
          <th>Location</th>
          <th>Company</th>
          <th>Date</th>
          <th>GPS Files</th>
          <th>EDIT</th>
        </tr>
        <app-gps-item *ngFor="let gpsInfo of gpsInfos | gpsFilter:term" [gpsInfo]="gpsInfo">
        </app-gps-item>
      </table>
    </div>
    <div class="add">
      <a class="btn" [routerLink]="['add']">Add</a>
    </div>
  </div>
</div>