div {
  background-color: #d3d3d3;
}
h2 {
  background-color: #1bb4e8;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 30px;
  color: #ffffff;
  font-style: bold;
}
p {
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 25px;
  padding-left: 20px;
}
