<div class="container">
  <div class="row">
    <app-home-gallery></app-home-gallery>
    <!-- <div class="bottom">
      <app-home-gallery></app-home-gallery>
      <div class="top">
        <app-home-quote></app-home-quote>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-6 pull-left">
      <app-home-land></app-home-land>
    </div>
    <div class="col-md-6 pull-right">
      <app-home-reclamation-gallery></app-home-reclamation-gallery>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Hindsite Inc. creates effective environmental interaction through land reclamation services and by creating
          effective management systems to plan for tomorrow by providing reliable information on today’s activities.</h4>
      </div>
      <div class="col-md-12">
        <p>Hindsight Inc. is a service company in south western Wyoming that services the landscape we live in. Hindsite is
          devoted to improving the landscape through its reclamation activities. We provide high quality reclamation work
          (reseeding locations, pipelines, burns), monitoring vegetation and grazing, weed control, etc. Hindsite Inc.,
          previously G & D Landscaping, has been involved in reclamation activities for the past 25 years. </p>
      </div>
    </div>
  </div>
</div>